@model AnturaSemester.Models.Users


@{
    ViewData["Title"] = "Edit";
}


<h2>Edit</h2>

<form asp-action="Edit">
    <div class="form-horizontal">
        <h4>Users</h4>
        <hr />
        <div asp-validation-summary="ModelOnly" class="text-danger"></div>
    <input type="hidden" asp-for="ID" />
        <div class="form-group">
            <label asp-for="FirstName" class="col-md-2 control-label"></label>
            <div class="col-md-10">
                <input asp-for="FirstName" class="form-control" />
                <span asp-validation-for="FirstName" class="text-danger"></span>
            </div>
        </div>

        <div class="form-group">
            <label asp-for="LastName" class="col-md-2 control-label"></label>
            <div class="col-md-10">
                <input asp-for="LastName" class="form-control" />
                <span asp-validation-for="LastName" class="text-danger"></span>
            </div>
        </div>
       
        <div class="form-group">
            <label asp-for="Email" class="col-md-2 control-label"></label>
            <div class="col-md-10">
                <input asp-for="Email" class="form-control" />
                <span asp-validation-for="Email" class="text-danger"></span>
            </div>
        </div>

        <!-- Dropdown with checkbox Roles-->
            <div class="form-group">
                <label asp-for="UsersRole" class="col-md-2 control-label"></label>
                <div class="col-md-10">
                    <div class="button-group">
                        <button type="button" class="btn btn-default btn-sm dropdown-toggle" data-toggle="dropdown">Choose Role(s) <span class="caret"></span></button>
                        <ul class="dropdown-menu">


                            @{
                                
                                List<AnturaSemester.Models.UserRoles> roles = ViewBag.Roles;


                                foreach (var role in roles)
                                {
                                    var assigned = Model.UsersRole.Any(x => x.RolesID == role.RolesID);

                                    <li>
                                        <a href="#" class="small" data-value="option1" tabIndex="-1">
                                            <label>
                                                <input type="checkbox"
                                                       name="selectedRoles"
                                                       value="@role.RolesID"
                                                       @(Html.Raw(assigned ? "checked=\"checked\"" : "")) />
                                                @role.Role.RoleName
                                            </label>
                                        </a>
                                    </li>

                                }
                            }
                            
                        </ul>
                        <span class="label label-info"></span>
                    </div>
                </div>
            </div>
        <!--End Role DropDown-->

        <!-- Dropdown with checkbox Department-->
        <div class="form-group">
            <label asp-for="UsersDepartment" class="col-md-2 control-label"></label>
            <div class="col-md-10">
                <div class="button-group">
                    <button type="button" class="btn btn-default btn-sm dropdown-toggle" data-toggle="dropdown">Choose Department <span class="caret"></span></button>
                    <ul class="dropdown-menu">
                        @{

                            List<AnturaSemester.Models.UserDepartment> department = ViewBag.Department;


                            foreach (var departments in department)
                            {
                                var assigned = Model.UsersDepartment.Any(x => x.DepartmentID == departments.DepartmentID);

                                <li>
                                    <a href="#" class="small" data-value="option1" tabIndex="-1">
                                        <label>
                                            <input type="checkbox"
                                                   name="selectedDepartment"
                                                   value="@departments.DepartmentID"
                                                   @(Html.Raw(assigned ? "checked=\"checked\"" : "")) />
                                            @departments.Departments.DepartmentName
                                        </label>
                                    </a>
                                </li>

                            }
                        } 
                    </ul>
                    <span class="label label-info"></span>
                </div>
            </div>
        </div>
        <!--End Department DropDown-->

        <!-- Dropdown with checkbox Team-->
        <div class="form-group">
            <label asp-for="UsersTeam" class="col-md-2 control-label"></label>
            <div class="col-md-10">
                <div class="button-group">
                    <button type="button" class="btn btn-default btn-sm dropdown-toggle" data-toggle="dropdown">Choose Team <span class="caret"></span></button>
                    <ul class="dropdown-menu">

                        @{

                            List<AnturaSemester.Models.UserTeam> team = ViewBag.Team;


                            foreach (var teams in team)
                            {
                                var assigned = Model.UsersTeam.Any(x => x.TeamID == teams.TeamID);

                                <li>
                                    <a href="#" class="small" data-value="option1" tabIndex="-1">
                                        <label>
                                            <input type="checkbox"
                                                   name="selectedTeam"
                                                   value="@teams.TeamID"
                                                   @(Html.Raw(assigned ? "checked=\"checked\"" : "")) />
                                            @teams.Teams.TeamName
                                        </label>
                                    </a>
                                </li>

                            }
                        }    
                    </ul>
                    <span class="label label-info"></span>
                </div>
            </div>
        </div>
        <!--End Team DropDown-->

       

        <div class="form-group">
            <div class="col-md-offset-2 col-md-10">
                @{ 
                    //TODO: Match User.Identity.Name (ex: Antura\sofhe) against a new db column in users table for user ID
                  //  if(@User.Identity.Name.Split('\\').Last().Equals(Model.FirstName)) {
                <input type="submit" value="Save" class="btn btn-default" />

                //    }

                }
            </div>
        </div>
        <script type="text/javascript">

            $(".dropdown-menu li a label").click(function () {
                var value = [];
                $(this).parents(".button-group").find(":checkbox:checked").each(function () {
                    value.push($(this).parent().text());
                });
                //var test = $(".button-group").find('input[type="checkbox"]').val(); //filter(":checked").text();

                $(this).parents(".button-group").find('.label').html(value.join()); //$(this).text()
              // $(this).parents(".button-group").find('.label').val($(this).data('value'));
            });

        </script>
    </div>
</form>

<div>
    <a asp-action="Index">Back to List</a>

</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
