@{
    ViewData["Title"] = "Calendar";
}

<h2>Calendar</h2>
@DateTime.Now

<nav aria-label="Page navigation">
    <ul class="pagination">
        <li class="active">
        <li>
            <a href="#" aria-label="Previous">
                <span aria-hidden="true">&laquo;</span>
            </a>
        </li>
        <li><a href="#">@ViewBag.currentMonth</></a></li>
        <li>
            <a href="#" aria-label="Next">
                <span aria-hidden="true">&raquo;</span>
            </a>
        </li>
    </ul>
</nav>

<div>holiday</div>    

@if (ViewBag.Today = DayOfWeek.Saturday)
{
    <h3>@ViewBag.MessageSaturday</h3>
}

else if (ViewBag.Today = DayOfWeek.Sunday)
{

    <h3>@ViewBag.MessageSunday</h3>
}
else { ViewBag.Today = DateTime.Today; }

    <h3>@ViewBag.Message + " is weekday."</h3>
}


