@model AnturaSemester.Models.CalendarViewModel
@{
    ViewData["Title"] = "Calendar";
}
<nav aria-label="Page navigation">
    <ul class="pagination">
        <li class="active">
        <li>
            <a href="@Url.Action("Index", "Home", new { year = ViewBag.year, month = (ViewBag.month - 1) })" aria-label="Previous">
                <span aria-hidden="true">&laquo;</span>
            </a>
        </li>
        <li><a href="@Url.Action("Index", "Home", new { ViewBag.currentMonth })">@ViewBag.currentMonth</></a></li>
        <li>
            <a href="@Url.Action("Index", "Home", new { year = ViewBag.year , month = (ViewBag.month + 1) })" aria-label="Next">
                <span aria-hidden="true">&raquo;</span>
            </a>
        </li>
    </ul>
</nav>
<table class=" table table-bordered table-hover">
    <tbody>
        <tr>
            <td>

            </td>
            @foreach (var x in ViewBag.GroupedWeeks)
            {
                
                <td colspan="@x.Item2"><font bgcolor="#edf6ff"><strong>V:@x.Item1</strong></font></td>
               

            }
        </tr>
        <tr>
            <th>

                @foreach (var x in ViewBag.Column) // Only numbers are highlighted red
                {
                    if (x.highLight == true)
                    {
                    <td bgcolor="#3D85C6">@x.Day </td>
                    }

                    else

                     if (x.weekEnd == true)
                    {
                        <td bgcolor="#e2dede"><font color="red">@x.Day</font></td>
                    }

                    else
                    {
                        <td>@x.Day</td>

                    }
                }
            </tr>
            @foreach (var user in Model.users)
            {
                <tr>
                    <td>
                        @Html.DisplayFor(model => user.FullName)
                    </td>
                    @foreach (var x in ViewBag.Column)
                    {

                        if (x.weekEnd == true)
                        {
                            <td bgcolor="#F8F6F6"></td>

                        }

                        else
                        {
                            bool HasAddedCell = false;
                            foreach (var cell in Model.calendar.Where(c => c.UsersID == user.ID && c.Date.Day == x.Day && c.Date.Month == x.Month))
                            {
                                <td>@Html.DisplayFor(modelItem => cell.AbsenceName)</td>
                                HasAddedCell = true;
                            }

                            if (HasAddedCell == false)
                            {
                                <td></td>
                            }
                        }


                    }
                </tr>
            }

        </tbody>
    </table>
    <!-- hghgh -->
