@model AnturaSemester.Models.CalendarViewModel
@{
    ViewData["Title"] = "Calendar";
}
<nav aria-label="Page navigation">
    <ul class="pagination">
        <li class="active">
        <li>
            <a href="@Url.Action("Index", "Home", new { year = ViewBag.year, month = (ViewBag.month - 1) })" aria-label="Previous">
                <span aria-hidden="true">&laquo;</span>
            </a>
        </li>
        <li><a href="@Url.Action("Index", "Home", new { ViewBag.currentMonth })">@ViewBag.currentMonth</></a></li>
        <li>
            <a href="@Url.Action("Index", "Home", new { year = ViewBag.year , month = (ViewBag.month + 1) })" aria-label="Next">
                <span aria-hidden="true">&raquo;</span>
            </a>
        </li>
    </ul>
</nav>
<table id="calendartable" class="table table-bordered table-hover">
    <tbody>
        <tr>
            <td></td>
            @foreach (var x in ViewBag.GroupedWeeks)
            {

                <td colspan="@x.Item2"><font bgcolor="#edf6ff"><strong>V:@x.Item1</strong></font></td>


            }
        </tr>
        <tr>
            <th class="col-md-10">
                @foreach (var x in ViewBag.Column) // Only numbers are highlighted red
                {
                    if (x.highLight == true)
                    {
                    <td bgcolor="#bababa" class="col-md-1"><strong>@x.Day</strong></td>
                    }

                    else

                     if (x.weekEnd == true)
                    {
                        <td bgcolor="#eadada" class="col-md-1"><font color="red">@x.Day</font></td>
                    }

                    else
                    {
                        <td class="col-md-1">@x.Day</td>

                    }
                }
            </tr>
            @foreach (var user in Model.users)
            {
                <tr>
                    <td>
                        @Html.DisplayFor(model => user.FullName)
                        <style>
                            table tr:nth-child(even) {
                                background-color: #fcf9f9
                            }
                        </style>


                    </td>
                    @foreach (var x in ViewBag.Column)
                    {

                        if (x.weekEnd == true)
                        {
                            <td bgcolor="#F8F6F6"></td>

                        }

                        else
                        {
                            bool HasAddedCell = false;
                            foreach (var cell in Model.calendar.Where(c => c.UsersID == user.ID && c.Date.Day == x.Day && c.Date.Month == x.Month && c.Date.Year == x.Year))

                            {

                                if (cell.AbsenceName.Equals("Holiday"))
                                {
                                    <td data-id="@cell.ID" data-toggle="modal" class="editAbsence" bgcolor="#f4df53">
                                        @{
                                            if (cell.Approval == "Approved")
                                            {<span class="glyphicon glyphicon-ok" aria-hidden="true"></span>}
                                            else if (cell.Approval == "Denied")
                                            {<span class="glyphicon glyphicon-remove" aria-hidden="true"></span>}
                                            else if (cell.Approval == "Ongoing")
                                            {<span class="glyphicon glyphicon-option-horizontal" aria-hidden="true"></span>}
                                        }

                                        @{
                                            if (cell.CommentField != null)
                                            {<span class="glyphicon glyphicon-comment"></span>}
                                        }

                                    </td>}

                                            else if (cell.AbsenceName.Equals("Sick"))
                                            {
                                                <td data-id="@cell.ID" data-toggle="modal" class="editAbsence" bgcolor="#e05555">
                                                    @{
                                                        if (cell.CommentField != null)
                                                        {<span class="glyphicon glyphicon-comment"></span>}
                                                    }
                                                </td>
                                                        }
                                                        else if (cell.AbsenceName.Equals("VAB"))
                                                        {
                                                            <td data-id="@cell.ID" data-toggle="modal" class="editAbsence" bgcolor="#e899ae">
                                                                @{
                                                                    if (cell.CommentField != null)
                                                                    {<span class="glyphicon glyphicon-comment"></span>}
                                                                }
                                                            </td>}
                                                                    else if (cell.AbsenceName.Equals("ParentalLeave"))
                                                                    {
                                                                        <td data-id="@cell.ID" data-toggle="modal" class="editAbsence" bgcolor="#85dbcd">
                                                                            @{
                                                                                if (cell.CommentField != null)
                                                                                {<span class="glyphicon glyphicon-comment"></span>}
                                                                            }
                                                                        </td>}
                                                                                else if (cell.AbsenceName.Equals("Other"))
                                                                                {
                                                                                    <td data-id="@cell.ID" data-toggle="modal" class="editAbsence" bgcolor="#4e80ad">
                                                                                        @{
                                                                                            if (cell.CommentField != null)
                                                                                            {<span class="glyphicon glyphicon-comment"></span>}
                                                                                        }
                                                                                    </td>}
                                                                                                HasAddedCell = true;

                                                                                            }

                                                                                            if (HasAddedCell == false)
                                                                                            {
                                                                                                <td></td>
                                                                                                    }
                                                                                                }


                                                                                            }
                </tr>
                                                                                            }

        </tbody>
    </table>


    <div class='my-legend'>
        <div class='legend-title'>Absence Color Legend</div>
        <div class='legend-scale'>
            <ul class='legend-labels'>
                <li><span style='background:#f4df53;'></span>Holiday</li>
                <li><span style='background:#e05555;'></span>Sick</li>
                <li><span style='background:#e899ae;'></span>VAB</li>
                <li><span style='background:#85dbcd;'></span>Parental Leave</li>
                <li><span style='background:#4e80ad;'></span>Other</li>
            </ul>
        </div>
        <div class='legend-source'><a href="#"></a></div>
    </div>


    <style type='text/css'>
        .my-legend .legend-title {
            text-align: left;
            margin-bottom: 5px;
            font-weight: bold;
            font-size: 90%;
        }

        .my-legend .legend-scale ul {
            margin: 0;
            margin-bottom: 5px;
            padding: 0;
            float: left;
            list-style: none;
        }

            .my-legend .legend-scale ul li {
                font-size: 80%;
                list-style: none;
                margin-left: 0;
                line-height: 18px;
                margin-bottom: 2px;
            }

        .my-legend ul.legend-labels li span {
            display: block;
            float: left;
            height: 16px;
            width: 30px;
            margin-right: 5px;
            margin-left: 0;
            border: 1px solid #999;
        }

        .my-legend .legend-source {
            font-size: 70%;
            color: #999;
            clear: both;
        }

        .my-legend a {
            color: #777;
        }
    </style>


    <script type="text/javascript">

        /*
        $(function () {
            $('.editModal').modal();
        });
        */
        function editAbsence(absenceId) {
            $.ajax({
                url: '/Home/EditAbsence/' + absenceId, // The method name + paramater
                success: function (data) {
                    $('#SemesterModal').html(data); // This should be an empty div where you can inject your new html (the partial view)
                }
            });
        }


        $(function () {
            $("td.editAbsence").click(function () {
                var getIdFromCell = $(event.target).closest('td').data('id'); //get the id from td
                //går fel här^
                $.ajax({
                    url: '/Home/EditAbsence/' + getIdFromCell, // The method name + parameter
                    success: function (data) {
                        // $('#selectedAbsence').value()

                        $('#selectedUserButton').prop('disabled', true);
                        $('#DeleteButton').removeClass('hidden');
                        $('#selectedApprovalButton').removeClass('hidden');
                        $('#SubmitButton').val('Edit');

                        var userName = $('#user-select').find('.small[data-value="' + data[0].usersID + '"]').html().trim();
                        $('#comments').val(JSON.stringify(data[0]));
                        $('#CommentField').val(data[0].commentField);
                        //' + data[0].usersID + '
                        $('#selectedUserButton').html(userName + ' <span class="caret"></span>');
                        $('#selectedUser').val(data[0].usersID);
                        $('#guidId').val(data[0].id);

                        $("#approval-select li a").click(function () {
                            document.getElementById('selectedApproval').value = document.getElementById('selectedApprovalButton').value;
                        });

                        $('#SemesterView').find('input[name="FromDate"]').datepicker('update', new Date(data[0].date));
                        $('#SemesterView').find('input[name="ToDate"]').datepicker('update', new Date(data[data.length - 1].date).toISOString().slice(0, 10));
                        $('#selectedAbsenceButton').html(data[0].absenceName + ' <span class="caret"></span>');
                        $('#selectedAbsence').val(data[0].absenceName);
                        $('#selectedApprovalButton').html(data[0].approval + ' <span class="caret"></span>');
                        $('#selectedApproval').val(data[0].approval);
                    }
                });
                $('#SemesterModal').modal();
                //  $('#Semesterbody').html(getIdFromCell)
            });
        });
        /*
            $(function () {
                $('#SemesterModal').modal({
                    keyboard: true,
                    backdrop: "static",
                    show: false,

                }).on('show', function () { //subscribe to show method
                    var getIdFromCell = $(event.target).closest('td').data('id'); //get the id from tr
                    alert(getIdFromCell);
                    //make your ajax call populate items or what even you need
                    $(this).find('#SemesterBody').html($(getIdFromCell))
                });
            }); */
    </script>
