@model AnturaSemester.Models.SemesterViewModel

@{
    ViewData["Title"] = "Semester";
}

<form id="SemesterView" asp-controller="Home" asp-action="CreateAbsence">
    <div class="form-horizontal">
        <div class="form-group col-md-10">
            <input type="hidden" name="guid" id="guidId" value="" />
            <div class="dropdown">
                <button type="button" id="selectedUserButton" class="btn btn-default btn-sm dropdown-toggle" data-toggle="dropdown">Choose User <span class="caret"></span></button>
                <input type="hidden" name="UsersID" id="selectedUser" value="" />
                <ul id="user-select" class="dropdown-menu" aria-labelledby="dropdownMenuButton">
                    @foreach (var user in Model.users)
                    {

                        <li>
                            <a href="#" class="small" data-value="@user.ID" tabIndex="-1">@Html.DisplayFor(model => user.FullName)</a>
                        </li>
                    }
                </ul>
            </div>
        </div>

      <!-- stuff for login based user interaction, needs proper userID in db, ask during workshop how it should be done
          <button type="button" id="selectedUserButton" class="btn btn-default btn-sm dropdown-toggle" data-toggle="dropdown">Model.users.FirstOrDefault(x => x.FirstName.Equals(User.Identity.Name.Split('\\').Last())).FullName</button>
        <input type="hidden" name="UsersID" id="selectedUser" value="User.Identity.Name.Split('\\').Last()" />

       
    <ul id="user-select" class="dropdown-menu" aria-labelledby="dropdownMenuButton">
        foreach (var user in Model.users)
        {
            //User.Identity.Name.Split('\\').Last()
            //
            <li>
                <a href="#" class="small" data-value="user.ID" tabIndex="-1">Html.DisplayFor(model => user.FullName)</a>
            </li>
        }
    </ul>-->



        <div class="form-group col-md-10">
            <!--Datepicker start-->
            <div id="sandbox-container">
                <div class="input-daterange input-group" id="datepicker">
                    <input type="text" class="input-sm form-control" name="FromDate" />
                    <span class="input-group-addon">to</span>
                    <input type="text" class="input-sm form-control" name="ToDate" />
                </div>
            </div>
            <!--DatePicker End-->
        </div>

        @ViewBag.error <!--Not currently in use-->
        <div class="form-group col-md-10">
            <div class="dropdown">
                <button type="button" id="selectedAbsenceButton" class="btn btn-default btn-sm dropdown-toggle" data-toggle="dropdown">Choose Absence Type <span class="caret"></span></button>
                <input type="hidden" name="Absencetype" id="selectedAbsence" value="" />
                <ul id="absence-select" class="dropdown-menu" aria-labelledby="dropdownMenuButton">
                    @foreach (var absence in ViewBag.Absences)
                    {
                        <li>
                            <a href="#" class="small" data-value="@absence" tabIndex="-1">

                                @absence
                            </a>
                        </li>
                    }
                </ul>
            </div>
        </div>

        <div class="form-check col-md-10">
            <label class="form-check-label">
                <input type="checkbox" class="form-check-input">
                Repeat Absence Placeholder (not functional)
            </label>
        </div>

        <div class="form-group">
            <div class="col-lg-offset-0 col-lg-10">
                <textarea class="form-control" placeholder="Message" rows="3" id="CommentField" name="commentField"></textarea>
            </div>
        </div>

        <div class="form-group col-md-10">
            <div class="dropdown">
                <button type="button" id="selectedApprovalButton" class="btn btn-default btn-sm dropdown-toggle hidden" data-toggle="dropdown">Set Approval State<span class="caret"></span></button>
                <input type="hidden" name="ApprovalState" id="selectedApproval" value="" />
                <ul id="approval-select" class="dropdown-menu" aria-labelledby="dropdownMenuButton">
                    @foreach (var approval in ViewBag.Approvals)
                    {
                        <li>
                            <a href="#" class="small" data-value="@approval" tabIndex="-1">

                                @approval
                            </a>
                        </li>
                    }
                </ul>
            </div>
        </div>

        <div class="form-group">
            <div class="col-sm-offset-0 col-md-10">
                <input type="submit" id="SubmitButton" value="Save" class="btn btn-default" />
                <input type="submit" id="DeleteButton" value="Delete" class="btn btn-danger hidden" asp-controller="Home" asp-action="DeleteAbsence" />
            </div>

        </div>
    </div>
    <script type="text/javascript">
        $(".dropdown-menu li a").click(function () {
            $(this).parents(".dropdown").find('.btn').html($(this).text() + ' <span class="caret"></span>');
            $(this).parents(".dropdown").find('.btn').val($(this).data('value'));
        });

        $("#user-select li a").click(function () {
            document.getElementById('selectedUser').value = document.getElementById('selectedUserButton').value;
        });

        $("#absence-select li a").click(function () {
            document.getElementById('selectedAbsence').value = document.getElementById('selectedAbsenceButton').value;
        });

        $("#approval-select li a").click(function () {
            document.getElementById('selectedApproval').value = document.getElementById('selectedApprovalButton').value;
        });




        $('#sandbox-container .input-daterange').datepicker({
            startView: 1,
            format: "yyyy-mm-dd",
            forceParse: false,
            daysOfWeekHighlighted: "0,6",
            calendarWeeks: true,
            todayHighlight: true
        });


    </script>

</form>



@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}